.register-container {
  background-color: #0e0e11;
  color: white;
}

.logo-text {
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

ion-item {
  margin-bottom: 20px;
  --background: #1f2b3e;
  --color: white;
  border-radius: 8px;
}

ion-button {
  margin-top: 20px;
}