<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding register-container">
  <h1 class="logo-text">Snyp</h1>

  <ion-item>
    <ion-label position="floating">Username/email</ion-label>
    <ion-input required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary">REGISTER</ion-button>
</ion-content>
